
main {
    background: transparent;
    width: 80vw;
    margin: 0 auto;
  }
  
  article {
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: auto;  
    gap: 1rem;
  }
  
  section {
    padding:1rem;
  }
  
  
  /* this is the code responsive story */
  
  h1.story:before {
    content: "Coffee grounds and paint,";
  }
  
  @media screen and (min-width: 768px) {
    h1.story:before {
      content: "Portfolio on subway—";
    }
    html {
        background: var(--primary-dark)
      }
    h1 {
        color:var(--white);
    }
     }

  @media screen and (min-width: 1024px) {
    h1.story:before {
      content: "Critics sleep in class.";
    }
    html {
        background: var(--primary-light)
      }

      h1 {
        color:var(--black);
    }
  }
  
  
  